html,
body {
  height: 100%;
}

body {
  font-family: "Open Sans", sans-serif, Arial;
  font-size: 14px;
  color: #fff;
}

* {
  box-sizing: border-box;
}

a {
  display: inline-block;
  color: #fff;
  text-decoration: none;
}

ul,
li {
  list-style: none;
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
  margin: 0;
}

p {
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
  display: inline-block;
}

address {
  font-style: normal;
}

button {
  cursor: pointer;
  border: none;
  background: transparent;
}

::-webkit-input-placeholder {
  font-family: "Open Sans", sans-serif, Arial;
  color: rgba(34, 31, 31, 0.5);
  font-weight: 300;
  font-size: 14px;
}

::-moz-placeholder {
  font-family: "Open Sans", sans-serif, Arial;
  color: rgba(34, 31, 31, 0.5);
  font-weight: 300;
  font-size: 14px;
}

:-moz-placeholder {
  font-family: "Open Sans", sans-serif, Arial;
  color: rgba(34, 31, 31, 0.5);
  font-weight: 300;
  font-size: 14px;
}

:-ms-input-placeholder {
  font-family: "Open Sans", sans-serif, Arial;
  color: rgba(34, 31, 31, 0.5);
  font-weight: 300;
  font-size: 14px;
}

.visuallyHidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}

.clear:after {
  content: "";
  display: block;
  clear: both;
}

.color-orange-bold {
  font-weight: 700;
  color: #f89513;
}

.wrapper {
  min-width: 1100px;
  min-height: 100%;
  overflow: hidden;
}

.wrapper:after {
  content: "";
  display: block;
  height: 76.8px;
}

.container {
  display: block;
  width: 1060px;
  margin: 0 auto;
}

.section-title {
  text-transform: uppercase;
  letter-spacing: 1.5px;
  text-align: center;
  font-weight: 700;
  font-size: 49px;
}
