.services__maincontent{
    margin-bottom: 53px;
    color: #221f1f;
    margin-top: 43px;
    width: 100%;
}
.services-container{
	display: block;
	width: 880px;
	margin: 0 auto;   
}
.services__title{
	margin-top: 16px;
    margin-bottom: 40px;
    text-transform: uppercase;
    font-size: 49px;
    letter-spacing: 1.5px;
}


.services__item{
	display: inline-block;
    margin-bottom: 45px;
    margin-right: 47px;
    position: relative;
    width: 259px;
    vertical-align: top;
}
.services__item:nth-child(3), .services__item:nth-child(6){
	margin-right: 0px;
}
.services__item-img{
	display: flex;
    margin-bottom: 25px;
    width: 250px;
    height: 153px;
    background-position: center center;
}
.services__item-img_fitness{
	background-image: url(../images/services/sports.jpg);
}
.services__item-img_diet{
	background-image: url(../images/services/apple.jpg);
}
.services__item-img_yoga{
	background-image: url(../images/services/yoga.jpg);
}
.services__item-img_trx{
	background-image: url(../images/services/trx.jpg);
}
.services__item-img_crossfit{
	background-image: url(../images/services/women.jpg);
}
.services__item-img_swimming{
	background-image: url(../images/services/swimming.jpg);
}
.services__item-title{
	margin: auto;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    font-size: 24px;
    color: white;
    z-index: 2;
}
.services__item-img:after{
    width: 250px;
    height: 153px;
    content: "";
    position: absolute;
    background-color: #000;
    opacity: 0.52;
    top: 0;
    left: 0;
    z-index: 1;
}

.services__item-content{

}
.services__item-content_title{
	margin-bottom: 7px;
    font-size: 18px;
    font-weight: bold;
}
.services__item-content_text{
	line-height: 21px;
    font-weight: 300;
    display: initial;
}
.services__partners-list{
	padding-left: 54px;
    display: inline-block;
	text-align: center;
	margin-bottom: 12px;
}
.services__partners-item{
	margin-right: 140px;
    margin-top: 40px;
    float: left;
    width: 160px;
    height: 65px;
    margin-bottom: 8px;
}
.services__partners-item:nth-child(3), .services__partners-item:nth-child(6){
	margin-right: 0;
	margin-left: 60px
}
.services__partners-item_img{
	display: block;
	background-image: url(../images/services/partners/partners-sprite.png);
	width: 100%;
	height: 100%;
}

.services__partners-flamingo{
	background-position: -897px -739px;
}
.services__partners-flamingo:hover{
	background-position: -716px -636px;
}
.services__partners-malibu{
	background-position: -1078px -828px;
}
.services__partners-malibu:hover{
	background-position: -1278px -896px;
}
.services__partners-lion{
	background-position: -285px -326px;
}
.services__partners-lion:hover{
	background-position: -184px -224px;
}
.services__partners-arni{
	background-position: -545px -532px;
}
.services__partners-arni:hover{
	background-position: -380px -428px;
}
.services__partners-grif{
	background-position: -1478px -971px;
}
.services__partners-grif:hover{
	background-position: -1678px -1056px;
}
.services__partners-atletica{
	background-position: -90px -122px;
}
.services__partners-atletica:hover{
	background-position: -8px -20px;
}

.b-readmore__close {
  display: none;
}
.b-readmore--opened .b-readmore__open {
  text-decoration: underline;
  display: none;
}
.b-readmore--opened .b-readmore__close {
    text-decoration: underline;
  display: inline-block;
}
.b-readmore__toggle{
    text-decoration: underline;
    line-height: 21px;
    font-weight: 300;
    color: #221f1f;
    font-style: italic;
}
.b-readmore{
   display: initial;
}